body {
    margin: 0;
}

.card {
    width: 500px; 
    height: fit-content;
    background-color: rgb(177, 236, 177);
    margin: 10px;
    font-family: curs;
}

.borda-card {
    border: 3px solid rgb(197, 17, 128);
}

.perfil {
    width: 100px;
    height: 100px;
    background-color: rgb(29, 17, 197);
}

.icon {
    width: 100%;
    height: 100%;
}

h1 {
    color:rgb(197, 17, 101);
    font-family: cursive;
}

p {
    color: rgb(29, 17, 197)
    font-family: cursive;
}

span {
    color: black;
}